{% if builds %}
{% for build in builds %}
<div class="w3-third c1">
<div class="w3-card w3-container c1" style="min-height:460px">
<h2>{{ build.name }}</h2>
<h5>Por {{ build.usuario }}</h4><br>
<p>Gráfica: {{ build.tarjetavideo }}</p>
<p>Procesador: {{ build.procesador }}</p>
<p>Placa Madre: {{ build.placamadre }}</p>
<p>Memoria: {{ build.memoria }}</p>
<p>Disco: {{ build.discohdd }}</p>
<p>SSD: {{ build.discossd }}</p>
<p>Gabinete: {{ build.gabinete }}</p>
<p>Fuente: {{ build.fuente }}</p>
<p>Cooler: {{ build.cooler }}</p><br>
<a href="/delete?n={{ build.name }}">Eliminar build</a>
</div>
</div>
{% endfor %}
{% else %}
<option value="No se encontraron resultados">
{% endif %}