{% if builds %}
{% for build in builds %}
<div class="w3-third c1">
<div class="w3-card w3-container c1" style="min-height:460px">
<a href="/details?n={{ build.id }}"><h2>{{ build.name }}</h2></a><br>
<h5>Usuario: {{ build.usuario }}</h5>
<h6>( {{ build.creacion }} )</h6><br>
<p>Gráfica: {{ build.tarjetavideo }}</p>
<p>Procesador: {{ build.procesador }}</p>
<p>Placa Madre: {{ build.placamadre }}</p>
<p>Memoria: {{ build.memoria }}</p>
<p>Disco: {{ build.discohdd }}</p>
<p>SSD: {{ build.discossd }}</p>
<p>Gabinete: {{ build.gabinete }}</p>
<p>Fuente: {{ build.fuente }}</p>
<p>Cooler: {{ build.cooler }}</p><br>
{% if build.usuario == user %}
<a href="/delete_b?n={{ build.name }}">Eliminar build</a>
{% endif %}
</div>
</div>
{% endfor %}
{% else %}
<span> No hay builds </span>
{% endif %}