<!DOCTYPE html>
<html lang="en">
<head>
    <title>build</title>
    {% include "web/base.html" %}

</head>
<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="build">Armar Build</a></li>
        <li><a href="user">Mis Builds</a></li>
        <li style="float:right;"><a href="logout">Cerrar Sesión</a></li>
        <li style="float:right;"><a href="user">{{ user }}</a></li>
    </ul>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-form100 p-t-50 p-b-25">
                <form class="login100-form flex-sb flex-w c1" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-51 font"> Ingresar comentario</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100" type="text" name="contenido" placeholder="Escribe tu comentario..." required>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn font" name="buildAdd" type="submit">Enviar Comentario</button>
                    </div>
                </form>
<div id="dropDownSelect1"></div>


</body>
</html>