<!DOCTYPE html>
<html lang="es">
<head>
    <title>login</title>
    {% include "web/base.html" %}
</head>
<body>
    <ul>
        <li><a href="/">Inicio</a></li>
    </ul>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-80">
                <form class="login100-form flex-sb flex-w c1" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-51 font"> Login </span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100" type="text" name="username" placeholder="Username" required>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100" type="password" name="password" placeholder="Password" required>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <a href="/register" class="txt1 font"> Register a new user</a>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn font" type="submit"> Login </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div id="dropDownSelect1"></div>

</body>
</html>