<!DOCTYPE html>
<html lang="es">
<head>
    <title>user</title>
    {% include "web/imports.html" %}
</head>
<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="build">Armar Build</a></li>
        <li><a href="user">Mis Builds</a></li>
        <li style="float: right;"><a href="logout">Cerrar Sesión</a></li>
        <li style="float: right;"><a href="user">{{ user }}</a></li>
    </ul>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">

            </div>
        </div>
    </div>
<div id="dropDownSelect1"></div>

</div>
</body>
</html>